<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Form</title>
</head>
<body>
    <h1 class="title">Welcome to the Form Page</h1>
    <h2 class="subtitle">This page is a reference to make post requests</h2>
    <p class="text">This page shows a basic login. Enter some credentials and see them output into the console</p>
    <form method="post" class="form">
        <input class="form-text" type="text" name="username" placeholder="Username">
        <br>
        <input class="form-text" type="password" name="password" placeholder="Password">
        <br>
        <input class="form-submit" type="submit" value="Submit">
    </form>
    <% if (username != '' || password != '') { %>
        <div class="text">Username: <%= username %></div>
        <div class="text">Password: <%= password %></div>
        <p class="text">This text has appeared because you entered credentials, this is using ejs.</p>
    <% } %>
    <p class="text">This is the end of the guide to using this template.  Hope you enjoy and if you find any bugs please report them on the <a href="https://github.com/LucasJoel1/express-template/issues">bugtracker</a>, which can be found on GitHub.</p>
</body>
</html>