<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Example Homepage</title>
</head>
<body>
    <h1 class="title">Welcome to the homepage</h1>
    <h2 class="subtitle">This is the homepage of the website</h2>
    <p class="text">This is a template index page of the website. To edit this page to to the src folder, templates and
        to the index.ejs file. The templates folder is where all of your templates or views will be stored. Also inside
        of the src folder you will find a get folder. Inside, you will find a form.js and an index.js. All requests will
        be handled in 1 file per page, so the homepage has a file and a login page will have its own file. It is the
        same with POST requests and if you wish to add, the other types of http requests. All of these files are
        retrieved from the routes folder with each type of requests having its own file. Static files are stored in the
        staic folder with there being a css, icons, js, and pictures folder. All CSS is stored in the static folder, tab
        icons stored in the icons folder, non-node.js JavaScript stored in the js folder and pictures stored in the
        pictures folder. Something to remember is that all of you static files are already pointed to the static folder
        so instead of importing something using ../static/typeOfFile/file you would instead use simply /typeOfFile/file.
        In the end, everything is sent to the index.js file where the program is run from. Global variables can be found
        in globals.js and imports can be found in imports.js, both are found directly in the src folder. POST requests
        can be tested by going to the <a href="/form">form</a> page and submitting a form and seeing the output in the
        console. I hope this small introduction helps you with getting started with this template express router.</p>
</body>
</html>